html(lang=currentLocale)
  head
    block head
      title As a Man Thinketh

    block meta
      meta(charset="utf-8")
      meta(name="description" content="Prototype")
      meta(name="HandheldFriendly" content="True")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name='description', content="As a Man Thinketh by James Allen. Website by MDS")
      - const base = basePath || ''

    block stylesandscripts
      link(rel="stylesheet" type="text/css" href=`${base}/css/style.css`)

  body
    .language-switcher
      if currentLocale === 'hi'
        //- When in Hindi, show link to root for English
        a(href=`${base}/` class="") English
        a(href=`${base}/hi/` class="active") हिंदी
      else
        //- When in English (either root or /en/), keep current behavior
        a(href=`${base}/` class="active") English
        a(href=`${base}/hi/` class="") हिंदी

    block content

