html(lang=currentLocale)
  head
    block head
      title As a Man Thinketh

    block meta
      meta(charset="utf-8")
      meta(name="description" content="Prototype")
      meta(name="HandheldFriendly" content="True")
      meta(name="MobileOptimized" content="320")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name='description', content="As a Man Thinketh by James Allen. Website by Jatin")

    block stylesandscripts
      //- Use the explicit CSS path provided by the build script
      link(rel="stylesheet" type="text/css" href=cssPath)

  body
    .language-switcher
      if currentLocale === 'gu'
        //- When in Gujarati, show link to root for English
        a(href=`${basePath}/` class="") English
        a(href=`${basePath}/gu/` class="active") Gujrati
      else
        //- When in English (either root or /en/), keep current behavior
        a(href=`${basePath}/` class="active") English
        a(href=`${basePath}/gu/` class="") Gujrati

    block content

